.banner-cont
    position: relative
    width: 100%
    height: 25vw
    // background: url(../assets/banner.jpg) no-repeat center center

    margin-top: 80px
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    img
        width: 100%
@media screen and (max-width:800px)
    .banner-cont
        height: 25vw
