*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Golos Text', sans-serif !important
html
    scroll-behavior: smooth
.App
    min-height: 100vh !important
.btn-to-top
    background-color: #03257E
    font-size: 12px
    padding: 10px 2px
    width: fit-content
    color: #fff
    position: fixed
    bottom: 10px
    right: 10px
    border: 2px solid #c4d600
    width: 40px
    height: 40px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer

@import ./header/header.sass
@import ./banner/banner.sass
@import ./body/body.sass
@import ./filters_form/filters_form.sass
@import ./card/card.sass
@import ./body/body.sass
@import ./footer/footer.sass
@import ./body/bodyMain.sass
